#about-section {
    min-height: calc(100vh - 80px);
    width: 100%;
    padding-top: 50px;

    .about-text {
        width: 100%;
        background-color: var(--secondary-color);
        color: rgb(207, 192, 192);
        
        strong{
            color: var(--btn-secondary-color) ;
        }
        display: flex;
        flex-direction: column;
        .line{
        }
        
        .char {
            opacity: 0.2;
        }
        p {
            /* font-size: 40px; */
            text-transform: lowercase;
           /*  line-height: 60px; */
            

        }
    }

    .badges-container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2em;
        padding: 5% 0;

        .badge {
            border-radius: 20px;
            border: solid 0.5px black;
            height: 160px;
            width: 160px;
            box-shadow: 5px 5px #888888;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 10px;

            .icon {
                width: 100%;
                font-size: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            h1 {
                color: var(--secondary-color);
                font-weight: bold;
                font-size: 35px;
            }

            p {

            }
        }
    }
}

@media (max-width:991px) {
    #about-section {
        min-height: calc(100vh - 80px);
        width: 100%;
        padding-top: 50px;

        .about-text {
            width: 100%;

            p {                 
                
                text-transform: lowercase;
            }
        }

        .badges-container {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            gap: 4vw;
            padding: 10% 12vw;

            .badge {
                border-radius: 20px;
                border: solid 0.5px black;
                height: 35vw;
                width: 35vw;
                box-shadow: 5px 5px #888888;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                gap: 2vw;

                .icon {
                    width: 100%;
                    font-size: 10vw;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                h1 {
                    color: var(--secondary-color);
                    font-weight: bold;
                    font-size: 12vw
                }

                p {}
            }
        }
    }
}