/* #hero {
    display: flex;

    height: 100vh;
    width: 100%;
    justify-content: center;
    paddin-top: 80px;

    .hero-left {
        height: 80%;
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding: 0 5vw;
        color: var(--secondary-color-text);

        h1 {
            text-transform: uppercase;
            font-size: 4vw;
            width: 100%;
            overflow: hidden;
            justify-content: flex-start;
            align-items: center;
            display: flex;
            gap: 15px;
            .line {
                overflow: hidden;

                .word {
                    transform: translateY(100%);
                }
            }
        }

        p {
            text-transform: lowercase;
            font-size: 1.3vw;
            width: 100%;
            overflow: hidden;
            justify-content: flex-start;
            align-items: center;
            display: flex;

            .line {
                overflow: hidden;

                .word {
                    overflow: hidden;

                    .letter {
                        transform: translateY(-100%);
                    }
                }
            }
        }

        .hero-contact-button {
            background-color: var(--btn-secondary-color);
            padding: 12px 10px;
            margin-top: 2.5rem;
            border-radius: 5px;
            color: white;
            text-transform: uppercase;
            cursor: pointer;

            a {
                text-decoration: none;
                color: white;
            }
        }
    }

    .hero-right {
        height: 100%;
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

      
    }
} */
.hero-title{
    .line {
        overflow: hidden;
    
        .word {
            transform: translateY(150%);
        }
    }
}
.hero-paragraph{
    .line {
        overflow: hidden;
    
        .char {
            transform: translateY(-150%);
        }
    }
}
.hero-image {

    overflow: hidden;
    transform-origin: left center;
    clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);

}
/* 
@media (max-width:991px) {
    #hero {
        display: flex;
        height: auto;
        min-height: 100vh;
        width: 100%;
        flex-direction: column-reverse;
        justify-content: center;
        padding-top: 20vw;

        .hero-left {
            height: auto;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            padding: 8vh 8vw;

            h1 {
                text-transform: uppercase;
                font-size: 10vw;
                width: 100%;
                overflow: hidden;
                justify-content: center;
                align-items: center;
                display: flex;

                .line {
                    overflow: hidden;

                    .word {
                        transform: translateY(150%);
                    }
                }
            }

            p {
                text-transform: lowercase;
                font-size: 5vw;
                width: 100%;
                text-align: center;
                overflow: hidden;
                justify-content: center;
                align-items: center;
                display: flex;

                .line {
                    .word {
                        overflow: hidden;

                        .char {
                            transform: translateY(-100%);
                        }
                    }
                }
            }

            .hero-contact-button {
                background-color:  var(--btn-secondary-color);
                padding: 12px 10px;
                margin-top: 2.5rem;
                border-radius: 5px;
                color: white;
                text-transform: uppercase;
                cursor: pointer;
            }
        }

        .hero-right {
            height: auto;
            width: 100%;

            display: flex;
            justify-content: center;
            align-items: center;

            .hero-image {
                border-radius: 5px;
                position: relative;
                object-fit: cover;
                width: 65vw;
                height: 65vw;
                overflow: hidden;
                max-width: 500px;
                max-height: 500px;
            }
        }
    }
} */