.service {
    display: flex;
    gap: 5em;
    justify-content: space-between;
    overflow: hidden;

    img {
        width: 100%;
        transform: scale(1.3);
        overflow: hidden;
        transform-origin: left center;
        clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
        border-radius: 15px;
    }

    .service-description {
      
        width: 100%;
        h1 {
            opacity: 0;
            font-size: 1.875rem;
            line-height: 2.25rem;
            text-transform: capitalize;
            margin-bottom: 30px;
        }
        strong{
            color: var(--secondary-color-text);
        }

        p {
            width: 100%;
            text-wrap: wrap;

            .word {
                opacity: 0
            }
        }
    }
}

.right-img {
    flex-direction: row-reverse;

    img {
        width: 100%;
        border-radius: 15px;
    }
}


@media (max-width:991px) {

    .service {
        display: flex;
        gap: 2.5em;
        justify-content: space-between;
        flex-direction: column;

        img {
            width: 100%;
            border-radius: 5px;
        }

        .service-description {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;

            h1 {
                opacity: 0;
                font-size: 1.875rem;
                line-height: 2.25rem;
                text-transform: capitalize;
            }

            p {
                width: 100%;
             
                text-wrap: wrap;
                margin: 0%;
            }
        }
    }

    .right-img {
        flex-direction: column;

        img {
            width: 100%;
            border-radius: 5px;
        }
    }
}