@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import './components/navbar.scss';
@import './components/hero.scss';
@import './components/about.scss';
@import './components/services.scss';
@import './components/contact.scss';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    scroll-behavior: smooth;
}
body{
    background-color: var(--background-body-color);
}
:root {
    --primary-color: #FFFFFF;
    --secondary-color: #043353;
    --btn-primary-color: #043353;
    --background-body-color: #F4F5F1;
    --primary-color-text: #64696C;
    --secondary-color-text: #043353;
    --btn-secondary-color: #E44646;
}